* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--color-bg);
  overflow-x: hidden;
  box-sizing: border-box;
 
}

:root {
  --color-bg: #101119;
  --color-bg-edit: #222631;
  --color-backend: #00C86F;
  --color-frontend: #6BD1FF;
  --color-inov-gestao: #FFBA05;
  --color-error: #EF233C;
  --color-light-gray: #90979E;
  --color-white: #EDF2F4;
  --color-white-smoke: #CCC5B9;
  --color-primary: #EF233C;
  --color-primary-dark: #A1021D;
  --color-secondary: #C8132D;
  --color-dark-gray-border: #262626;
  --color-black: #000000;
  --color-glow: #EE8B98;
  --color-button-shadow: #600010;
  --color-banner: #600010;
}
